.popup__label {
  position: relative;
  display: grid;
  margin-bottom: 30px;
}

.popup__err-msg {
  color: red;
  font-size: 12px;
  position: absolute;
  top: 108%;
  left: 0;
  z-index: 1000;
  opacity: 0;
}

.popup__icon-check-url {
  background-image: url("../../../images/succes-icon.svg");
  width: 27px;
  height: 27px;
  display: block;
  position: absolute;
  left: 45%;
  bottom: -38px;
}

.popup__action-message {
  position: fixed;
  box-sizing: border-box;
  left: 16px;
  bottom: 30px;
  min-height: 46px;
  min-width: 145px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 11111;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 14px;
}

.popup__action-message-text {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
}
.popup__action-message-icon {
  background-image: url("../../../images/succes-icon.svg");
  width: 27px;
  height: 27px;
}

.popup__error_visible {
  opacity: 1;
}

.popup__input {
  width: 100%;
  height: 37px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin-bottom: 10px;
}

.popup__input:last-of-type,
.popup__label:last-of-type {
  margin-bottom: 0;
}

.popup__input_type_error {
  border-color: red;
}

@media screen and (max-width: 568px) {
  .popup__title {
    font-size: 12px;
    line-height: 15px;
  }
}
